{% extends "layout.html" %}
{% block title %}Searcher{% endblock %}
{% block body_content %}
<main role="main" class="inner cover">
  <div id="content-wrapper">
    <div class="container-fluid">
      <!-- DataTables -->
      <div class="card mb-3" id="table-card">
        <div class="card-header">
          <i class="fas fa-table"></i>
          NODC station list
        </div>
        <div class="card-body">
          <div class="table-striped">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th data-sortable="false">local_id</th>
                  <th data-sortable="false">local_id_group</th>
                  <th data-sortable="true">preferred_name</th>
                  <th data-sortable="false">synonyms</th>
                  <th data-sortable="false">ices_statn</th>
                  <th data-sortable="false">position_wgs84_dm_n</th>
                  <th data-sortable="false">position_wgs84_dm_e</th>
                  <th data-sortable="false">position_wgs84_dec_n</th>
                  <th data-sortable="false">position_wgs84_dec_e</th>
                  <th data-sortable="false">position_sweref99_n</th>
                  <th data-sortable="false">position_sweref99_e</th>
                  <th data-sortable="false">radius</th>
                  <th data-sortable="false">wadep</th>
                  <th data-sortable="false">eu_cd</th>
                  <th data-sortable="false">media</th>
                  <th id="header-comnt" data-sortable="false">comment</th>
                  <th data-sortable="false">old_id_shark</th>
                </tr>
              </thead>
              <tbody>
              {% for rec in records %}
                <tr>
                  <td>{{ rec.local_id }}</td>
                  <td>{{ rec.local_id_group }}</td>
                  <td>{{ rec.preferred_name }}</td>
                  <td>{{ rec.synonyms }}</td>
                  <td>{{ rec.ices_statn }}</td>
                  <td>{{ rec.position_wgs84_dm_n }}</td>
                  <td>{{ rec.position_wgs84_dm_e }}</td>
                  <td>{{ rec.position_wgs84_dec_n }}</td>
                  <td>{{ rec.position_wgs84_dec_e }}</td>
                  <td>{{ rec.position_sweref99_n }}</td>
                  <td>{{ rec.position_sweref99_e }}</td>
                  <td>{{ rec.radius }}</td>
                  <td>{{ rec.wadep }}</td>
                  <td>{{ rec.eu_cd }}</td>
                  <td>{{ rec.media }}</td>
                  <td>{{ rec.comment }}</td>
                  <td>{{ rec.old_id_shark }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
