{% extends "layout.html" %}
{% block title %}Searcher{% endblock %}
{% block body_content %}
<main role="main" class="inner cover">
  <div id="content-wrapper">
    <div class="container-fluid">
      <!-- DataTables -->
      <div class="card mb-3" id="table-card">
        <div class="card-header">
          <i class="fas fa-table"></i>
          NODC station list
        </div>
        <div class="card-body">
          <div class="table-striped">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th data-sortable="false">REG_ID</th>
                  <th data-sortable="false">REG_ID_GROUP</th>
                  <th data-sortable="true">STATION_NAME</th>
                  <th data-sortable="false">SYNONYM_NAMES</th>
                  <th data-sortable="false">ICES_STATION_NAME</th>
                  <th data-sortable="false">LAT_DM</th>
                  <th data-sortable="false">LONG_DM</th>
                  <th data-sortable="false">LATITUDE_WGS84_SWEREF99_DD</th>
                  <th data-sortable="false">LONGITUDE_WGS84_SWEREF99_DD</th>
                  <th data-sortable="false">LATITUDE_SWEREF99TM</th>
                  <th data-sortable="false">LONGITUDE_SWEREF99TM</th>
                  <th data-sortable="false">OUT_OF_BOUNDS_RADIUS</th>
                  <th data-sortable="false">WADEP</th>
                  <th data-sortable="false">EU_CD</th>
                  <th data-sortable="false">MEDIA</th>
                  <th id="header-comnt" data-sortable="false">COMNT</th>
                  <th data-sortable="false">OLD_SHARK_ID</th>
                </tr>
              </thead>
              <tbody>
              {% for rec in records %}
                <tr>
                  <td>{{ rec.REG_ID }}</td>
                  <td>{{ rec.REG_ID_GROUP }}</td>
                  <td>{{ rec.STATION_NAME }}</td>
                  <td>{{ rec.SYNONYM_NAMES }}</td>
                  <td>{{ rec.ICES_STATION_NAME }}</td>
                  <td>{{ rec.LAT_DM }}</td>
                  <td>{{ rec.LONG_DM }}</td>
                  <td>{{ rec.LATITUDE_WGS84_SWEREF99_DD }}</td>
                  <td>{{ rec.LONGITUDE_WGS84_SWEREF99_DD }}</td>
                  <td>{{ rec.LATITUDE_SWEREF99TM }}</td>
                  <td>{{ rec.LONGITUDE_SWEREF99TM }}</td>
                  <td>{{ rec.OUT_OF_BOUNDS_RADIUS }}</td>
                  <td>{{ rec.WADEP }}</td>
                  <td>{{ rec.EU_CD }}</td>
                  <td>{{ rec.MEDIA }}</td>
                  <td>{{ rec.COMNT }}</td>
                  <td>{{ rec.OLD_SHARK_ID }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
