{% extends "layout.html" %}
{% block title %}Upload{% endblock %}
{% block body_content %}
<main role="main" class="inner cover">
  {% block content %}
  <h2>Upload new stations according to template</h2>
  <p>You may ask your datahost in order to get hold of that template :)</p>

  {% if success %}
  <p>Thank you for your stations. We'll try to add them to the table below. <br>You also have the option to plot the stations on a map (new browser tab).</p>
  <p class="lead">
    <a href="{{ url_for('station_map') }}" class="btn btn-lg btn-secondary" target="blank">Click here to launch station map</a>
  </p>
  {% else %}

  <form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value="Upload" style="
        color: rgb(0, 0, 0)
      ">
  </form>
  {% endif %}
  {% endblock %}
</main>
{% endblock %}
